﻿@model Corbin.Models.ProjectCreateViewModel

<div id="contentContainer" class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-md-1 col-lg-3 col-xl-2">

            </div>
            <div class="col-md-11 col-lg-8 col-xl-10">
                @using (Html.BeginForm("Create", "MyProjects", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Add Project</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                <button class="btn btn-submit btn-file">
                                    @Html.TextBoxFor(m => m.ImageFile, new { type = "file", name = "ImageFile", placeholder = Html.DisplayNameFor(m => m.ImageFile), @class = "form-control" })
                                </button>
                                @Html.ValidationMessageFor(m => m.ImageFile, "", new { @class = "text-danger custom-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.VideoLink, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VideoLink, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VideoLink, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-primary btn-block" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-2">

            </div>
            <div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                <input type="button" class="btn btn-block btn-link" value="Back to List" onclick="location.href='@Url.Action("Index", "MyProjects")'" />
            </div>
        </div>     
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
