﻿@model Corbin.Models.ProjectDetailsViewModel

@section styles
{
    @Styles.Render("~/Content/projectImageDetails.css")
}

<div id="contentContainer" class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-2">

            </div>
            <div class="col-8 col-sm-8 col-md-7 col-lg-6 col-xl-7">
                <h1>
                    @Html.DisplayFor(model => model.Title)
                </h1>
                <hr />
            </div>
            <div class="col-3 col-sm-3 col-md-4 col-lg-3 col-xl-2">
                <div class="col-12">@Html.DisplayFor(model => model.LastUpdated)</div>

            </div>
        </div>
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-2">

            </div>
            <div class="col-8 col-sm-8 col-md-7 col-lg-6 col-xl-7">
                @Html.DisplayFor(model => model.Description)
            </div>

            <div class="col-3 col-sm-3 col-md-4 col-lg-3 col-xl-2">
                <div class="slideshow-container">

                    @foreach (var image in Model.Images.ToList())
                    {
                        var base64 = Convert.ToBase64String(image.ImageStream);
                        var src = String.Format("data:" + image.ContentType + ";base64,{0}", base64);

                        @:<div class="mySlides myFade col-12">
                            @*<div class="numbertext">1 / 3</div>*@
                            <img src="@src" class="col-12"/>
                            @*<div class="text">Caption Text</div>*@
                        @:</div>
                    }
                   
                    <!-- Next and previous buttons -->
                    <a class="prev" onclick="plusSlides(-1)"><div class="image-btn-text">&#10094;</div></a>
                    <a class="next" onclick="plusSlides(1)"><div class="image-btn-text">&#10095;</div></a>
                </div>
                <br>

                <!-- The dots/circles -->
                <div style="text-align:center">

                    @for (var i = 0; i < Model.Images.ToList().Count; i++)
                    {
                        @:<span class="dot" onclick="currentSlide(@i)">
                        @:</span>
                    }
                </div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-2">

                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
                    <input type="button" class="btn btn-block btn-link btn-left" value="Edit" onclick="location.href='@Url.Action("Edit", "MyProjects", new { id = Model.Id })'" />
                </div>
            </div>
            <div class="row">
                <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-2 ">

                </div>
                <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
                    <input type="button" class="btn btn-block btn-link btn-left" value="Back to List" onclick="location.href='@Url.Action("Index", "MyProjects")'" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/projectImageDetails.js")
}
