﻿@model Corbin.Models.ProjectEditViewModel

@section styles
{
    @Styles.Render("~/Content/lightGal/lightGal.css")
}

<div id="contentContainer" class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-2">

            </div>
            <div class="col-8 col-sm-8 col-md-7 col-lg-6 col-xl-7">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>





                        @*<div class="form-group">
                                @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <button class="btn btn-submit btn-file">
                                        @Html.TextBoxFor(m => m.ImageFile, new { type = "file", name = "ImageFile", placeholder = Html.DisplayNameFor(m => m.ImageFile), @class = "form-control" })
                                    </button>
                                    @Html.ValidationMessageFor(m => m.ImageFile, "", new { @class = "text-danger custom-danger" })
                                </div>
                            </div>*@







                        <div class="form-group">
                            @Html.LabelFor(model => model.VideoLink, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VideoLink, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VideoLink, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-3 col-sm-3 col-md-4 col-lg-3 
                 col-xl-2">
                <div class="galContainer">

                    <div class="feature">
                        <div data-imageId="" class="featured-item image-holder r-3-2 transition">

                        </div>
                        <button id="del-btn" class="btn btn-danger">
                            Delete
                        </button>
                    </div>
                    <div class="gallery-wrapper">
                        <div id="gallery" class="gallery">
                            @{var images = Model.Images.ToList();
                            }
                            @for (var i = 0; i < 6; i++)
                            {

                                var content = images[0].ContentType;
                                var image = Convert.ToBase64String(images[0].ImageStream);
                                var imageId = "image" + i;
                                var baseImageId = "baseImage" + i;
                                var contentId = "content" + i;

                                <input id="@baseImageId" type="hidden" value="@image" />
                                <input id="@contentId" type="hidden" value="@content" />
                                if (i == 0)
                                {
                                    @:<div class="item-wrapper">
                                        <div id="@imageId" class="gallery-item image-holder r-3-2 active transition"></div>
                                    @:</div>
                                }
                                else
                                {
                                    @:<div class="item-wrapper">
                                        <div id="@imageId" class="gallery-item image-holder r-3-2 transition"></div>
                                    @:</div>
                                }

                            }
                        </div>
                    </div>

                    <div class="controls">
                        <button class="move-btn gal-left">&larr;</button>
                        <button class="move-btn gal-right">&rarr;</button>
                    </div>

                </div>
                <div id="add-btn">
                    <button id="add-btn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Add Image
                    </button>
                </div>
            </div>
        </div>
    </div>





    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-8">
                        <input onchange="readURL(this);" class="form-control" id="imageFile" name="ImageFile" placeholder="Upload Image" type="file" value="" />

                        @*<input type='file' onchange="readURL(this);" />*@
                        <img id="blah" src="#" alt="your image" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="addImage" type="button" class="btn btn-primary">Add Image</button>
            </div>
        </div>
    </div>
</div>





<br />
<br />
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/lightGal/lightGal.js")
}