﻿@model IEnumerable<Corbin.Models.ProjectViewModel>
<div id="contentContainer">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row authRow">
            <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3"></div>
            <div class="col-10 col-sm-10 col-md-10 col-lg-2 col-xl-2">
                @Html.AntiForgeryToken()
                <input type="button" class="btn btn-block btn-primary" value="Create" onclick="location.href='@Url.Action("Create", "MyProjects")'" />
            </div>
        </div>
    }
    <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-3 col-xl-3">

        </div>
        <div class="tableWrapper col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8">
            <table id="myProjectsTable" class="table table-striped table-bordered"></table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/MyProjects/index.js");
}