﻿@model Corbin.Models.RegisterEmail

@section styles
{
    @Styles.Render("~/Content/emailRegister.css")
}
<div id="contentContainer" class="row">
    <div class="col-md-4 col-lg-3 col-xl-2">

    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <section id="registerForm">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <br />
                    <h4>Register your email to receive updates on new projects.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Regsiter Email" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            @*<div>
                    @Html.ActionLink("Back to List", "Index")
                </div>*@
        </section>
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
