﻿#header {
    display: block;
    min-height: 75%;
    margin-left: 40px;
    margin-right: 20px;
}

#headerImg {
    display: block;
    position: absolute;
    background: url("Images/feeder.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 97.5%;
    min-height: 75%;
    max-height: 75%;
    opacity: 0.3;
    text-align: center;
    overflow-x: hidden;
}

.imgText {
    position: absolute;
    top: 30%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    font-size: 72px;
    font-weight: 900;
}

#infoContainer {
    text-align: center;
    margin-left: 25px;
    margin-right: 20px;
}

.carouselbox {
    font-family: helvetica, sans-serif;
    position: relative;
    box-shadow: 2px 2px 10px #ccc;
    overflow: hidden;
    height: 250px;
    text-align: center;
    margin-left: 40px;
    background-color: #efe9e1;
    margin-bottom: 100px;
}

#slider {
    height: 100%;
}

#projectContainer {
    width: 100%;
    text-align: center;
    padding: 0;
    display: block;
    height: 100%;
    margin-bottom: 25px;
}

#projectContainer2 {
    width: 100%;
    text-align: center;
    padding: 0;
    display: none;
}

.button {
    height: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #efe9e1;
    transition: background-color 1s;
}

    .button:hover {
        background-color: #f9a848;
    }

.inner-btn {
    position: absolute;
    top: 45%;
    left: 45%;
    text-align: center;
    padding: 0;
    margin: 0;
}

.offscreen {
    position: absolute;
    left: -2000px;
}

.content {
    position: relative;
    width: 100%;
}

    .content li {
        margin: 0;
        padding: 0;
        width: auto;
        list-style: none;
        text-align: center;
    }

.active-slide li {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    transform: scale(0);
    transition: 1s;
}

    .active-slide .current {
        position: absolute;
        pointer-events: auto;
        opacity: 1;
        transform: scale(1);
        transition: 1s;
        width: 100%;
    }

.cardOuter {
    height: 200px;
    color: red;
    background: linear-gradient(to right, #fcfcfc 0%, #cecece 100%);
    margin: 20px;
    padding: 0;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.cardInner {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardOuter:hover {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery .lightbox img {
    border-radius: 4px 4px 0 0;
    height: 50%;
    width: 100%;
    padding: 5px 10px;
}

.small-view-item{
    display:none;
}

.large-view-item{
    display: block;
}

#footer{

}

@media(max-width: 1024px){
    .carouselbox {
        margin-bottom: 8%;
    }

    #footer{
        height: 10%;
    }
}

@media (max-width: 768px) {
    #header {
        width: 100%;
        min-height: 50%;
        margin: 0;
    }

    #headerImg {
        position: absolute;
        background: url(/Content/Images/feeder.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        min-height: 50%;
        opacity: 0.7;
        filter: grayscale(75%);
        text-align: center;
        margin: 0;
        overflow-x: hidden;
    }

    .imgText {
        position: absolute;
        width: 90%;
        top: 30%;
        text-align: center;
        font-size: 28px;
        font-weight: 900;
        border: 1px solid black;
    }

    .carouselbox {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10%;
        height: 200px;
    }

    .cardOuter {
        height: 150px;
    }

}

@media(max-width: 576px){

    .carouselbox {
        height: 250px;
    }

    .button {
        /*border: 2px solid black;*/
        height: 10%;
        width: 50%;
        margin: 0;
        padding: 0;
    }

    .inner-btn {
        top: 10%;
    }

    .cardOuter {
        margin-right: 40px;
        margin-left: 40px;
        margin-bottom: 5px;
        padding: 0px;
        position: relative;
    }

    .small-view-item{
        display: block;
    }

    .large-view-item{
        display: none;
    }

    #footer{
        height: 8%;
    }
}

@media(max-width: 440px){

    .carouselbox {
        /*margin: 0, 10px, 0, 0;*/
        margin-bottom: 8%;
        margin-left: 0;
        margin-right: 0;
    }

    .button {
        /*border: 2px solid black;*/
        height: 10%;
    }

    .current {
        height: 100%;
    }

    .cardOuter {
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 5px;
        padding: 0px;
        position: relative;
    }
}