﻿html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
    background-color: #efe9e1;
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

#contentContainer {
    height: 90%;
    padding-top: 20px;
    overflow-y: scroll; 
    overflow-x: hidden;
}

.form_textbox{
    width: 300px;
    height: 50px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

.btn-left{
    float: left;
    text-align: left;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

    a[data-toggle="collapse"] {
        position: relative;
    }

ul ul a {
    font-size: 0.9em;
    padding-left: 30px;
    background: #6d7fcc;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#footer {
    left: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    height: 10%;
    background-color: gray;
    z-index: 5;
}

#footerText {
    transform: translateY(60%);
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    background: #f9a848;
    color: black;
    transition: all 0.3s;
    position: fixed;
    z-index: 1;
    font-weight: 900;
}

    #sidebar.active {
        min-width: 40px;
        max-width: 40px;
        text-align: center;
    }

    .sidebar-header {
        padding: 20px;
        background: #f9a848;
        font-weight: 900;
    }

    .sidebar-header h3{
        font-weight: 900;
        font-size: 30px;
    }

    #sidebar components {
        padding: 20px 0;
    }

    #sidebar ul p {
        color: black;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        background: #efe9e1;
        margin-bottom: 2px;
    }

        #sidebar ul li a:hover {
            color: #7386D5;
            background: #fff;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
    }

    #sidebar .sidebar-header strong {
        display: none;
    }

    #sidebar.active .sidebar-header h3 {
        display: none;
    }

    #sidebar.active .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
    }

        #sidebar.active ul li a i {
            margin-right: 0;
            display: block;
            font-size: 1.8em;
        }

    #sidebar.active ul ul a {
        padding: 10px;
    }

    #sidebar.active .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }

#sidebarCollapse {
    width: 30px;
    height: 30px;
    float: right;
}

    #sidebarCollapse span {
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: #555;
        transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    }

        #sidebarCollapse span:first-of-type {
            transform: rotate(45deg) translate(2px, 2px);
        }

        #sidebarCollapse span:nth-of-type(2) {
            opacity: 0;
        }

        #sidebarCollapse span:last-of-type {
            transform: rotate(-45deg) translate(1px, -1px);
        }

    #sidebarCollapse.active span {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.authRow{
    padding-bottom:5px;
}

table#myProjectsTable.dataTable tbody tr:hover {
    background-color: #f9a848;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 

.dl-horizontal dt {
    white-space: normal;
}

 Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}

@media (max-width: 768px) {

    #sidebar {
        min-width: 100%;
        min-height: 250px;
        max-height: 250px;
        transition: 0.5s;
        overflow: hidden;
        margin-bottom: 25px;
    }

        #sidebar.active {
            min-width: 100%;
            min-height: 50px;
            max-height: 50px;
            transition: 0.5s;
            text-align: left;
        }

        #sidebar .sidebar-header {
            padding-right: 20px;
            padding-top: 10px;
        }

        #sidebar.active ul li a {
            padding: 20px 10px;
            text-align: left;
            font-size: 0.85em;
        }

        #sidebar.active .sidebar-header h3 {
            display: block;
        }

        #sidebar.active .sidebar-header strong {
            display: block;
        }

        #contentContainer{
            padding-top:60px;
        }
}
