﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
          crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datatables")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
            crossorigin="anonymous"></script>
</head>
<body>
    @*@using Microsoft.AspNet.Identity*@
    <div class="wrapper">
        <div id="sidebar">
            <div class="sidebar-header">
                <div class="row">
                    <div class="col-10" style="margin:0; padding:0;">
                        <h3>Main Menu</h3>
                    </div>
                    <div class="col" style="margin:0; padding:0;">
                        <div id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="@Url.Action("Index", "Home")">
                        <i class="fas fa-home"></i>
                        <span class="toggle show">Home</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "MyProjects")">
                        <i class="fas fa-briefcase"></i>
                        <span class="toggle show">Projects</span>
                    </a>
                </li>

                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="@Url.Action("Login", "Account")">
                            <i class="fas fa-copy"></i>
                            <span class="toggle show">Admin Login</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Register", "RegisterEmails")">
                            <i class="fas fa-address-card"></i>
                            <span class="toggle show">Register Email</span>
                        </a>
                    </li>
                }
                else
                {
                    @*<li>
                            <a href="@Url.Action("Index", "MyProjects")">
                                <i class="fas fa-copy"></i>
                                <span class="toggle show">My Projects</span>
                            </a>
                        </li>*@
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">
                                <i class="fas fa-address-card"></i>
                                <span class="toggle show">Logoff</span>
                            </a>
                        }
                    </li>

                }



            </ul>
        </div>
        @RenderBody()
        <footer id="footer">
            <div id="footerText">&copy; @DateTime.Now.Year - Corbin Adkins</div>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @RenderSection("scripts", required: false)
</body>
</html>
