.galContainer {
	margin: 0 auto;
	max-width: 700px;
	max-height: 100vh;
	background-color: white;
}

/* Useful Classes */
.xy-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.transition {
	transition: all 350ms ease-in-out;
}

.r-3-2 {
	width: 100%;
	padding-bottom: 100%;
	background-color: #ddd;
}

.image-holder {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.feature{
    max-height:100%;
    position: relative;
    transition: all 0.5s;
}

.featured-item:hover {
    opacity: 0.5;
    transition: all .5s;
}

#del-btn {
    visibility: hidden;
    position: absolute;
    bottom: 5%;
    opacity: 0;
    -webkit-transition: opacity 0.5s, visibility 0.5s;
    transition: opacity .5s, visibility .5s;
    width: 100%;
}

#add-btn{
    width:100%;
}

.feature:hover #del-btn{
    opacity: 1;
    visibility: visible;
}


/* Main Styles */
.gallery-wrapper {
	position: relative;
	overflow: hidden;
}

.gallery {
	position: relative;
	white-space: nowrap;
	font-size: 0;
}

.item-wrapper {
	cursor: pointer;
	width: 23%; /* arbitrary value */
	display: inline-block;
	background-color: white;
}

.gallery-item { opacity: 0.5; }
.gallery-item.active { opacity: 1; }

.controls {
}
.move-btn {
	width: 49%;
	border: none;
    color: #000;
    background-color: transparent;
}
.move-btn:first-child {border-right: none;}
.move-btn.gal-left  { cursor: w-resize; }
.move-btn.gal-right { cursor: e-resize; }

input{
    margin: 0;
    padding: 0;
}

