﻿@section styles 
{
    @Styles.Render("~/Content/homeIndex.css")
}

@*{
    ViewBag.Title = "Home Page";
}*@

<div id="header" class="row">
    <div id="headerImg">

    </div>
    <div class="imgText">
        [ SAMPLE Project ]
    </div>
</div>
<br>
<div id="infoContainer" class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>
            NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and
            tools in Visual Studio projects.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>
            You can easily find a web hosting company that offers the right mix of features and price for your
            applications.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="carouselbox">
    <div id="slider" class="row">
        <div id="prev-btn" class="prev-btn col-sm-1 col-md-1 button">
            <i class="inner-btn prev fas fa-angle-left"></i>
        </div>
        <div id="next-btn2" class="next-btn col-sm-1 button small-view-item">
            <span class="inner-btn next fas fa-angle-right"></span>
        </div>
        <ol id="projectContainer" class="content col-sm-10 col-md-10"></ol>
        <div id="next-btn" class="next-btn col-sm-1 col-md-1 button large-view-item">
            <span class="inner-btn next fas fa-angle-right"></span>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/homeIndex.js");
}